<div class="search-input">
  <input type="text" class="input-block-level form-control search-btn search-query" placeholder="Search" ng-model="search.name">
</div>

<accordion close-others="true" id=accordion>
  <accordion-group ng-repeat="recipe in recipes | filter:search ">
    <accordion-heading xxclass="panel panel-default">
       {{recipe.name}} 
	   <i class="pull-right" ng-class="{'icon-chevron-down': isopen, 'icon-chevron-right': !isopen}"></i>
    </accordion-heading>

    <p>{{recipe.preparation}}</p>
  </accordion-group>
</accordion>

