<a href="#home" class="btn btn-default btn-lg homeBtn">
  <span class="glyphicon glyphicon-home"></span>
</a>
<div class="tablesAlign">
  <a href="#order" class="btn btn-lg btn-warning">CONFIRM</a>
  <div class="orderTable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Items</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="checkItem" rowspan="4"><input type="checkbox"/></td>
          <td>Item number</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Item detail</td>
          <td>Gobi Manchurian</td>
        </tr>
        <tr>
          <td>Serves</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Amount</td>
          <td>20$</td>
        </tr>
        <tr>
          <td class="checkItem" rowspan="4"><input type="checkbox"/></td>
          <td>Item number</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Item detail</td>
          <td>Chicken Biriyani</td>
        </tr>
        <tr>
          <td>Serves</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Amount</td>
          <td>15$</td>
        </tr>
        <tr>
          <td class="checkItem" rowspan="4"><input type="checkbox"/></td>
          <td>Item number</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Item detail</td>
          <td>Paneer Manchurian</td>
        </tr>
        <tr>
          <td>Serves</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Amount</td>
          <td>18$</td>
        </tr>
        <tr>
          <td class="checkItem" rowspan="4"><input type="checkbox"/></td>
          <td>Item number</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Item detail</td>
          <td>Masala Dosa</td>
        </tr>
        <tr>
          <td>Serves</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Amount</td>
          <td>10$</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>