<ul>
	<li ng-repeat="recipe in recipes | filter:search">
	  <div class="panel-group" id="accordion">
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#{{recipe.name}}">
				  <span class="col-md-4 glyphicon glyphicon-collapse-down"></span>
				  {{recipe.name}}
				</a>
			  </h4>
			</div>
			<div id="{{recipe.name}}" class="panel-collapse collapse">
			  <div class="panel-body">
			   {{recipe.preparation}}
			  </div>
			</div>
		  </div>
	  </div>
	</li>
</ul>